<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>Редактирование пользователя</h1>
    <meta charset="utf-8" />
</head>
<body>
    <form th:action="@{/admin/edit}" th:object="${user}" method="post">
        <p><input type="hidden" th:field="*{id}" /></p>

        <p><label for="name">Изменить имя:</label></p>
        <p><input type="text" th:field="*{name}" id="name" value="name" required></p>

        <p><label for="password">password</label></p>
        <p><input type="password" th:field="*{password}" id="password" value="password"></p>

        <p><label for="lastname">Изменить фамилию:</label></p>
        <p><input type="text" th:field="*{lastname}" id="lastname" value="lastname"></p>

        <p><label for="age">Изменить возраст:</label></p>
        <p><input type="number" th:field="*{age}" id="age" value="age"></p>

        <tr>
            <td>
                <input type="checkbox" name="user" value="1">USER<Br>
                <input type="checkbox" name="admin" value="2">ADMIN<Br>
            </td>
        </tr>
        <p>
            <input type="submit" value="Редактировать">
        </p>


</body>
</html>
