<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark"
     style="background-color:rgba(9,9,21,0.85)">
    <div class="text-white">
        Вы зашли под пользователем: "<td th:text="${user.name}"></td>"
    с правами доступа:
    "<td th:text="${user.getRoles()}"></td>"
    </div>
    <div class="navbar-nav position-absolute" style="right: 0">
        <li><a href="/logout"
               class="nav-link nav-right">Logout</a></li>
    </div>
    <br><br>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="/admin"
               class="list-group-item list-group-item-action justify-content-between rounded-0 border border-0 "
               style="background-color: #f5f5f5; color: blue">Admin</a>
            <a href="/user" class="list-group-item list-group-item-action active rounded-0 border border-info">User</a>


        </div>
        <div class="col-sm-10" style="background-color: rgba(209,214,209,0.13) ">
            <br>
                    <p class="h2">User information page</p>
            <div class="card">
                <div class="card-body">
                    <p class="h5">Информация о пользователе</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">

                        <tbody>
                        <tr>
                            <th>Номер</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Возраст</th>
                            <th>Права доступа</th>
                        </tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.getRoles()}"></td>

                        </tbody>

                    </table>
                </div>
            </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>