<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>Пользователь</tr>
    </thead>
    <tbody>

    <tr>
        <th>Номер </th>
        <th>Права доступа </th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>

    </tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>

    </tbody>
</table>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"/>
</form>
</p>
</body>
</html>